In [2]:
#import dependencies 
import os
import pandas as pd

#read in csv file
csvfile = os.path.join("Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")
purchase_data_df = pd.read_csv(csvfile)

In [96]:
#find total count of players 
total = len(purchase_data_df["SN"].value_counts())

#create summary table for total players
total = pd.DataFrame({"Total Players": [total]})
total

   Total Players
0            576

In [97]:
#find number of unique items 
unique = len(purchase_data_df["Item ID"].unique())

#perform calculations on data frame 
avg_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df)
revenue = purchase_data_df["Price"].sum()

#create summary table
total_analysis_df = pd.DataFrame({"Number of Unique Items": [unique], 
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [total_purchases],
                                     "Total Revenue": [revenue]})

#format average and total into currency 
total_analysis_df["Average Price"] = total_analysis_df["Average Price"].map("${:.2f}".format)
total_analysis_df["Total Revenue"] = total_analysis_df["Total Revenue"].map("${:.2f}".format)
total_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [98]:
gender_grouped = purchase_data_df.groupby("Gender")


gender_total = gender_grouped["SN"].nunique()

gender_percent = (gender_grouped/gender_total *100

gender
rounded_total_df = total_df.round({"Percentage of Players":2})
rounded_total_df["Percentage of Players"] = rounded_total_df["Percentage of Players"].astype(str).add("%")

renamed_df = rounded_total_df.rename(columns={"Gender":"Total Count"})
renamed_df

                         Total Count Percentage of Players
[Male]                           484                84.03%
[Female]                          81                14.06%
[Other / Non-Disclosed]           11                 1.91%

In [30]:
purchase_count_df = purchase_data_df.groupby("Gender")["Purchase ID"]
total_count_df = pd.DataFrame(data=purchase_count_df.nunique())

total_count_df["Average Purchase Price"] = purchase_data_df.groupby("Gender")["Price"].mean() 
total_count_df["Total Purchase Value"] = purchase_data_df.groupby("Gender")["Price"].sum()
total_count_df["Avg Total Purchase per Person"] = 

total_count_df["Average Purchase Price"] = total_count_df["Average Purchase Price"].map("${:.2f}".format)
total_count_df["Total Purchase Value"] = total_count_df["Total Purchase Value"].map("${:.2f}".format)
total_count_df_renamed = total_count_df.rename(columns={"Purchase ID": "Purchase Count"})
total_count_df_renamed

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,3.203009
Male,652,$3.02,$1967.64,3.017853
Other / Non-Disclosed,15,$3.35,$50.19,3.346000

In [7]:
player_demographics = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)

age_demographics_totals = player_demographics["Age Ranges"].value_counts()

num_players = player_demographics.count()[0]
pd.DataFrame({"Total Players": [num_players]})
age_demographics_percents = age_demographics_totals / num_players

age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)
age_demographics = age_demographics.sort_index()

age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [8]:
age_purchase_analysis = purchase_data_df.loc[:, ["Age", "Price"]]
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_purchase_analysis["Age Ranges"] = pd.cut(age_purchase_analysis["Age"], age_bins, labels=group_names)


age_purchase_count = age_purchase_analysis["Age Ranges"].value_counts()
avg_purchase = age_purchase_analysis["Price"].sum()/age_purchase_count
avg_purchase

20-24      6.519918
15-19     17.498309
25-29     23.562079
30-34     32.599589
35-39     58.043171
10-14     84.991786
<10      103.468261
40+      183.059231
Name: Age Ranges, dtype: float64

In [9]:
top_players = purchase_data_df.groupby("SN")["Purchase ID"]
top_spenders = pd.DataFrame(data=top_players.nunique())

top_spenders["Average Purchase Price"] = purchase_data_df.groupby("SN")["Price"].mean()
top_spenders["Total Purchase Value"] = purchase_data_df.groupby("SN")["Price"].sum()

top_spenders_sort = top_spenders.sort_values("Total Purchase Value", ascending=False)

top_spenders_sort["Average Purchase Price"] = top_spenders_sort["Average Purchase Price"].map("${:.2f}".format)
top_spenders_sort["Total Purchase Value"] = top_spenders_sort["Total Purchase Value"].map("${:.2f}".format)
top_spenders_sort_renamed = top_spenders_sort.rename(columns={"Purchase ID": "Purchase Count"})

top_spenders_sort_renamed.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [83]:
games_data = purchase_data_df.groupby(["Item ID", "Item Name"])

top_game_count = games_data["Price"].count()
top_game_total = games_data["Price"].sum()
top_game_price = top_game_total/top_game_count

most_popular = pd.DataFrame({"Purchase Count": top_game_count, 
                             "Item Price": top_game_price,
                             "Total Purchase Value": top_game_total})

most_popular_sorted = most_popular.sort_values("Purchase Count", ascending=False)
most_popular_sorted["Item Price"] = most_popular_sorted["Item Price"].map("${:.2f}".format)
most_popular_sorted["Total Purchase Value"] = most_popular_sorted["Total Purchase Value"].map("${:.2f}".format)
most_popular_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [89]:

most_popular_value_sorted = most_popular.sort_values("Total Purchase Value", ascending=False)
most_popular_value_sorted["Item Price"] = most_popular_value_sorted["Item Price"].map("${:.2f}".format)
most_popular_value_sorted["Total Purchase Value"] = most_popular_value_sorted["Total Purchase Value"].map("${:.2f}".format)

most_popular_value_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80