In [2]:
import os
import pandas as pd


csvfile = os.path.join("Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")

purchase_data_df = pd.read_csv(csvfile)

In [3]:
count = purchase_data_df["SN"].value_counts()
total = len(count)
total_df = pd.DataFrame({"Total Players": [total]})
total_df

   Total Players
0            576

In [4]:
unique = purchase_data_df["Item ID"].unique()
unique_total = len(unique)
avg_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df)
revenue = purchase_data_df["Price"].sum()
total_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_total], 
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [total_purchases],
                                     "Total Revenue": [revenue]})
total_analysis_df["Average Price"] = total_analysis_df["Average Price"].map("${:.2f}".format)
total_analysis_df["Total Revenue"] = total_analysis_df["Total Revenue"].map("${:.2f}".format)
total_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [5]:

gender_df = purchase_data_df.groupby("SN")["Gender"]
gender_unique_df = gender_df.unique()
total_df = pd.DataFrame(data=gender_unique_df.value_counts())
total_df["Percentage of Players"] = (total_df["Gender"]/total_df["Gender"].sum())*100
rounded_total_df = total_df.round({"Percentage of Players":2})
rounded_total_df["Percentage of Players"] = rounded_total_df["Percentage of Players"].astype(str).add("%")
renamed_df = rounded_total_df.rename(columns={"Gender":"Total Count"})
renamed_df

                         Total Count Percentage of Players
[Male]                           484                84.03%
[Female]                          81                14.06%
[Other / Non-Disclosed]           11                 1.91%

In [66]:
purchase_count_df = purchase_data_df.groupby("Gender")["Purchase ID"]
total_count_df = pd.DataFrame(data=purchase_count_df.nunique())

total_count_df["Average Purchase Price"] = purchase_data_df.groupby("Gender")["Price"].mean() 
total_count_df["Total Purchase Value"] = purchase_data_df.groupby("Gender")["Price"].sum()
total_count_df["Avg Total Purchase per Person"] = total_count_df["Purchase ID"].sum()/total_count_df["Total Purchase Value"].sum()

total_count_df["Average Purchase Price"] = total_count_df["Average Purchase Price"].map("${:.2f}".format)
total_count_df["Total Purchase Value"] = total_count_df["Total Purchase Value"].map("${:.2f}".format)
total_count_df.rename(columns={"Purchase ID": "Purchase Count"})

total_count_df

,Purchase ID,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,0.327763
Male,652,$3.02,$1967.64,0.327763
Other / Non-Disclosed,15,$3.35,$50.19,0.327763

In [226]:
player_demographics = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels=group_names)

age_demographics_totals = player_demographics["Age Ranges"].value_counts()
num_players = player_demographics.count()[0]
pd.DataFrame({"Total Players": [num_players]})
age_demographics_percents = age_demographics_totals / num_players
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals, "Percentage of Players": age_demographics_percents})

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map("{:,.2%}".format)

age_demographics = age_demographics.sort_index()
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [232]:
age_purchase_analysis = purchase_data_df.loc[:, ["Age"]]
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_purchase_analysis["Age Range"] = pd.cut(age_price_analysis["Age"], age_bins, labels=group_names)

age_purchase_count = age_purchase_analysis["Age Range"].value_counts()
num_players = age_purchase_analysis.count()[0]
pd.DataFrame({"Total Players": [num_players]})
price_avg = purchase_data_df["Price"].sum()/num_players
purchase_total = purchase_data_df.groupby

3.0509871794871795