In [45]:
import os
import pandas as pd

csvfile = os.path.join("Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")

purchase_data_df = pd.read_csv(csvfile)

In [46]:
count = purchase_data_df["SN"].value_counts()
total = len(count)
total_df = pd.DataFrame({"Total Players": [total]})
total_df

   Total Players
0            576

In [64]:
unique = purchase_data_df["Item ID"].unique()
unique_total = len(unique)
avg_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df)
revenue = purchase_data_df["Price"].sum()
total_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_total], 
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [total_purchases],
                                     "Total Revenue": [revenue]})
total_analysis_df["Average Price"] = total_analysis_df["Average Price"].map("${:.2f}".format)
total_analysis_df["Total Revenue"] = total_analysis_df["Total Revenue"].map("${:.2f}".format)

total_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77