In [144]:
import os
import pandas as pd


csvfile = os.path.join("Resources/02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv")

purchase_data_df = pd.read_csv(csvfile)

In [145]:
count = purchase_data_df["SN"].value_counts()
total = len(count)
total_df = pd.DataFrame({"Total Players": [total]})
total_df

   Total Players
0            576

In [146]:
unique = purchase_data_df["Item ID"].unique()
unique_total = len(unique)
avg_price = purchase_data_df["Price"].mean()
total_purchases = len(purchase_data_df)
revenue = purchase_data_df["Price"].sum()
total_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_total], 
                                     "Average Price": [avg_price],
                                     "Number of Purchases": [total_purchases],
                                     "Total Revenue": [revenue]})
total_analysis_df["Average Price"] = total_analysis_df["Average Price"].map("${:.2f}".format)
total_analysis_df["Total Revenue"] = total_analysis_df["Total Revenue"].map("${:.2f}".format)
total_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [191]:
gender_df = purchase_data_df.groupby("SN")["Gender"]
gender_unique_df = gender_df.unique()
total_df = pd.DataFrame(data=gender_unique_df.value_counts())
total_df["Percentage of Players"] = (total_df["Gender"]/total_df["Gender"].sum())*100
rounded_total_df = total_df.round({"Percentage of Players":2})
rounded_total_df["Percentage of Players"] = rounded_total_df["Percentage of Players"].astype(str).add("%")
renamed_df = rounded_total_df.rename(columns={"Gender":"Total Count"})
renamed_df

                         Total Count Percentage of Players
[Male]                           484                84.03%
[Female]                          81                14.06%
[Other / Non-Disclosed]           11                 1.91%

In [285]:
purchase_count_df = purchase_data_df.groupby("Gender")["Purchase ID"]
total_count_df = pd.DataFrame(data=purchase_count_df.nunique())
total_count_df["Average Purchase Price"] = (purchase_data_df["Price"].sum()/total_count_df["Purchase ID"])
total_count_df

                       Purchase ID  Average Purchase Price
Gender
Female                         113               21.059912
Male                           652                3.649954
Other / Non-Disclosed           15              158.651333